*.o
*.elf
*.bin
*.exe
./bdm_sdl3
./bdm_sdl
./bdm_headless
./BDMEmu
./build-wasm
./build
./docs
*.bdmst
third_party/sdl/install
third_party/sdl/SDL3-3.4.10
third_party/sdl/build
web/bdm_wasm_core.wasm
bdm_recent.txt
*.AppImage
*.appimage
./build-appimage